body {
    font-family: Arial;
    background-image: url("fastfood.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.menu {
    width: 600px;
    margin: 40px auto;
    padding: 25px;
    background-color: rgba(255, 248, 231, 0.95);
    border: 2px solid #6b3e26;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px gray;
}

h1 {
    color: #6b3e26;
    font-size: 32px;
    margin-bottom: 8px;
}

.welcome {
    color: #777;
    font-size: 16px;
    margin-bottom: 25px;
}

h2 {
    background-color: #6b3e26;
    color: white;
    padding: 9px;
    border-radius: 6px;
    margin-top: 18px;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
}

.item {
    padding: 6px;
    margin: 3px;
}

.item:hover {
    background-color: #ead7c3;
    color: #6b3e26;
    border-radius: 5px;
}
